.h1{
    height:100px;
    width: 100px;
    background:url("../../pic/ruzhi.jpg") no-repeat ;
}
.h2{
    height:100px;
    width: 100px;
    background:url("../../pic/midea.jpg") no-repeat ;
}
.h3{
    height:100px;
    width: 100px;
    background:url("../../pic/bianli.jpg") no-repeat ;
}
.h4{
    height:100px;
    width: 100px;
    background:url("../../pic/peixun.png") no-repeat ;
    margin-left: 40px;
}
.h5{
    height:100px;
    width: 100px;
    background:url("../../pic/jiaoliu.png") no-repeat ;
    margin-left: 30px;
}
.h6{
    height:100px;
    width: 100px;
    background:url("../../pic/tijian.jpg") no-repeat ;
}
.h7{
    height:100px;
    width: 100px;
    background:url("../../pic/hukou.jpg") no-repeat ;
}
.h8{
    height:100px;
    width: 100px;
    background:url("../../pic/dangan.jpg") no-repeat ;
}
.h9{
    height:100px;
    width: 100px;
    background:url("../../pic/ruzhu.jpg") no-repeat ;
}
.h10{
    height:100px;
    width: 100px;
    background:url("../../pic/diannao.jpg") no-repeat ;
}
.h11{
    height:100px;
    width: 100px;
    background:url("../../pic/xinxi.jpg") no-repeat ;
}